body{
    padding: 0;
    margin: 0;
    background-color: rgba(0,0,0,0.1);
    font-family: 'Roboto', sans-serif;
}
.container{
    padding:0.5%;
    width: 100%;
    margin: auto;
}
.header{
    width: auto;
    height:200px;
    background-image: url('../images/bg2.jpg');
    background-size: 100% 200%;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    position: relative;
}
.clear{
    width : 30px;
    height: 30px;
    position: absolute;
    right:3%;
    top: 5%;
}
.clear i{
    font-size: 30px;
    color: #FFF;
}
.clear i:hover{
    cursor: pointer;
    text-shadow: 1px 3px 5px #000;
    transform: rotate(45deg);
}
#date{
    position: absolute;
    bottom: 5%;
    left: 3%;
    color: #FFF;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.sort{
    width : 30px;
    height: 30px;
    position: absolute;
    right:3%;
    bottom: 10%;
}
.sort i{
    font-size: 30px;
    color: #FFF;
}
.sort i:hover{
    cursor: pointer;
    text-shadow: 1px 3px 5px #000;
}

/* ------------ content ------------ */
.content{
    width:auto;
    height: 500px;
    max-height:500px;
    background-color: #FFF;
    overflow: auto;
}
.content::-webkit-scrollbar { 
    display: none; 
}
.content ul{
    padding:0;
    margin:0;
}
.item{
    width:auto;
    height: 45px;
    min-height: 45px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin: 0;
}
.item i.co{
    position: absolute;
    font-size: 25px;
    padding-left: 0%;
    left: 10px;
    top: auto;
    bottom: auto;
}
.item i.co:hover{
    cursor: pointer;
}
.fa-check-circle{
    color:#6eb200;
}
.item p.date{
    position: absolute;
    padding:0;
    margin:0;
    font-size: 20px;
    left: 50px;
    top:5px;
    background-color: #FFF;
    max-width:150px;
}
.item p.text{
    position: absolute;
    padding:0;
    margin:0;
    font-size: 20px;
    left: 170px;
    top:5px;
    background-color: #FFF;
    max-width:400px;
}
.lineThrough{
    text-decoration: line-through;
    color : #ccc;
}
.item i.edit{
    position: absolute;
    font-size: 25px;
    right:55px;
    top:10px;
}
.item i.edit:hover{
    color:#4162f6;
    cursor: pointer;
}
.item i.de{
    position: absolute;
    font-size: 25px;
    right:15px;
    top:10px;
}
.item i.de:hover{
    color:#af0000;
    cursor: pointer;
}

/* ------------ add item ------------ */
.add-to-do{
    position: relative;
    width: auto;
    height: 55px;
    background-color: #FFF;
    padding: 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.add-to-do i{
    position: absolute;
    font-size: 30px;
    color: #4162f6;
}
.add-to-do i:hover{
    cursor: pointer;
    text-shadow: 1px 3px 5px #000;
    transform: scale(1.2);
}
.add-to-do #duedate{
    position: absolute;
    left: 50px;
    height: 35px;
    width: 150px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    padding-left:10px;
}
.add-to-do #input{
    position: absolute;
    left: 220px;
    height: 35px;
    width: 60%;
    min-width: 300px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding-left:10px;
}

/* ------------ edit item ------------ */
/* ul li input[type=text] {
    display:none;
  }
  
  ul li.editMode input[type=text] {
    display:block;
  }
  
  ul li.editMode label {
    display:none;
  } */